@font-face {
    font-family: 'Lotte Mart Dream';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/LotteMartDream/LotteMartDream-Light.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/LotteMartDream/LotteMartDream-Light.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/LotteMartDream/LotteMartDream-Light.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/LotteMartDream/LotteMartDream-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Lotte Mart Dream';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/LotteMartDream/LotteMartDream-Medium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/LotteMartDream/LotteMartDream-Medium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/LotteMartDream/LotteMartDream-Medium.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/LotteMartDream/LotteMartDream-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Lotte Mart Dream';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/LotteMartDream/LotteMartDream-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/LotteMartDream/LotteMartDream-Bold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/LotteMartDream/LotteMartDream-Bold.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/LotteMartDream/LotteMartDream-Bold.ttf') format('truetype');
}
